[Unit]
Description=CTA Tracker Service
After=network.target

[Service]
# Change 'pi' to your actual username
User=pi
WorkingDirectory=/home/pi/pi_zero
# Explicitly use the python executable within the virtual environment
ExecStart=/home/pi/pi_zero/venv/bin/python app.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
